<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>monthly</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>

<body class="App-header">
    <div id="streaming-options">
        <div id="spotify-link">
            <h1><a href="/login">spotify</a></h1>
        </div>
        <div id="apple-music-link">
            <h1><a href="/apple">apple music</a></h1>
        </div>
    </div>
    <p id="app-description">login to either platform and monthly will automatically create 12 playlists
        - each containing every song you've
        ever saved or added to a playlist, organized by month</p>
</body>

</html>